@model CarDealershipApp.ViewModels.ModelViewModel

@{
    ViewBag.Title = "Add Model";
}
 
<h2>Models</h2>

@using (Html.BeginForm("ModelInsert", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div class="col-md-12">
        <div class="form-group col-md-5">
            <label class="col-md-4">New Model: </label>
            @Html.TextBoxFor(m=>m.ModelToAdd.ModelName, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-5">
            <label class="col-md-4">Model: </label>
            @Html.DropDownListFor(m => m.ModelToAdd.MakeID, ViewBag.Makes as List<SelectListItem>, "-Select Make", new { @class = "form-control", onchange="myFunction(this.value)" })
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <td>Model</td>
            <td>Make</td>
            <td>Date Added</td>
            <td>User</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in @Model.Models)
        {
        <tr>
            <td>@car.ModelName</td>
            <td>@car.MakeName</td>
            <td>@car.DateAdded.ToShortDateString()</td>
            <td>@car.UserEmail</td>
        </tr>
        }
    </tbody>
</table>
